# PostgreSQL
DATABASE_URL=postgres://zakupki:zakupki@localhost:5432/zakupki?sslmode=disable

# API
HTTP_ADDR=:8080

# EIS / getDocs (collector)
# UUID (токен) пользователя / код ИС → SOAP index.sender
EIS_TOKEN=00000000-0000-0000-0000-000000000000
EIS_ENDPOINT=https://int.zakupki.gov.ru/eis-integration/services-mis/getDocsMis
# mis | ip | le | org | ris
EIS_PROFILE=mis
EIS_ORG_REGION=77
EIS_SUBSYSTEM=PRIZ
EIS_DOC_TYPES=epNotificationEF2020,fcsNotificationEF,epNotificationEOK2020,fcsNotificationEP
EIS_MODE=PROD
# окно «свежих» тендеров и цикл опроса
EIS_LOOKBACK=30m
EIS_INTERVAL=29m
EIS_TIMEZONE_OFFSET=3

# Mutual TLS (для int44-ttls-cert.zakupki.gov.ru)
# EIS_ENDPOINT=https://int44-ttls-cert.zakupki.gov.ru/eis-integration/services-mis/getDocsMis
# EIS_TLS_CERT=/certs/client.crt
# EIS_TLS_KEY=/certs/client.key
# EIS_CA_CERT=/certs/ca.crt
# EIS_CERT_DIR=./certs
